*{
  margin: 0;
  padding: 0;
}

.header{
  padding: 60px;
  /* height: 10vh; */
  background-color: #fcdb00;
}

.menu_nav{
  display: flex;
  justify-content: space-around;
}

.menu_nav ul {
  list-style: none;
  display: flex;
}

.menu_nav li{
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-right: 50px;
}

.content_introduction{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  padding: 50px;
  background-color: #fcdb00;
  margin-bottom: 60px;
}

.introduction{
  display: flex;
  justify-content: center;
  height: 40vh;
  flex-direction: column;
}

.introduction h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.introduction p{
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
}

.title, .subtitle, .subtitle_content{
  margin-bottom: 20px;
}

.introduction .subtitle_content{
  font-size: 16px;
}

.introduction i{
  font-size: 50px;
}

.icons i:first-child{
  margin-right: 30px;
}

.icons i:last-child{
  margin-left: 30px;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content h1{
  font-family: 'PT Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content p{
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.books{
  margin-top: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content img{
  width: 180px;
  margin-left: 75px;
  margin-top: 35px;
}
